In [2]:
# import openpyxl
# import pandas as pd

# import smtplib
# from email.mime.text import MIMEText
# from email.mime.multipart import MIMEMultipart

# import time
# import random

In [3]:
book = openpyxl.load_workbook('Labs.xlsx')
print(book.sheetnames)

['anasilva', 'anamatias', 'augusto', 'barbara', 'cecilia', 'eunice', 'goncalo', 'joao', 'miguel', 'gladys']

## progress functions

In [4]:
def lab_progress(student):
    sheet = book[student]
    total = 43
    done = 0

    for c in range(2,7,2):
        for r in range(1,30):
            d=sheet.cell(row=r,column=c)
            if d.value == 'Delivered':
                done += 1
    
    percent = round(done/total * 100, 2)
    
    return f"{student} - Lab progress: {done}/{total} ({percent}%)"

In [1]:
def students_progress(list):
    done_list = []
    percent_list = []
    name_list =[]
    for name in list:
        sheet = book[name]
        total = 43
        done = 0

        for c in range(2,7,2):
            for r in range(1,30):
                d=sheet.cell(row=r,column=c)
                if d.value == 'Delivered':
                    done += 1
                percent = round(done/total * 100, 2)
        
        name_list.append(name)
        done_list.append(f"{done}/{total}")
        percent_list.append(f"{percent}%")
    
    df = pd.DataFrame(zip(name_list, done_list, percent_list),
        columns =['Students', 'Lab completed', 'Percentage'])

    return df

## weekly functions

In [6]:
def week1(student):
    sheet = book[student]
    week = sheet['A3':'B7']

    week_lab = [c1.value for c1, c2 in week]
    week_check = [c2.value for c1, c2 in week]

    df = pd.DataFrame(list(zip(week_lab, week_check)),
                columns =['Week 1 Labs', 'Status'])
    
    return df

In [7]:
week1('gladys')

              Week 1 Labs     Status
0     List Comprehensions  Delivered
1  Dicts, Sets and Tuples  Delivered
2       String Operations  Delivered
3                   Numpy  Delivered
4            Intro Pandas  Delivered

In [8]:
def week2(student):
    sheet = book[student]
    week = sheet['C3':'D10']

    week_lab = [c1.value for c1, c2 in week]
    week_check = [c2.value for c1, c2 in week]

    df = pd.DataFrame(list(zip(week_lab, week_check)),
                columns =['Week 2 Labs', 'Status'])
    
    return df

In [9]:
week2('gladys')

              Week 2 Labs         Status
0     MySql First Queries      Delivered
1            MySql Select      Delivered
2            Action MySql      Delivered
3  Dataframe Calculations      Delivered
4         Advanced Pandas  Not delivered
5           Import Export  Not delivered
6           Data Cleaning      Delivered
7        Lambda Functions  Not delivered

In [10]:
def week3(student):
    sheet = book[student]
    week = sheet['E3':'F7']

    week_lab = [c1.value for c1, c2 in week]
    week_check = [c2.value for c1, c2 in week]

    df = pd.DataFrame(list(zip(week_lab, week_check)),
                columns =['Week 3 Labs', 'Status'])
    
    return df

In [11]:
week3('gladys')

          Week 3 Labs         Status
0       Api Scavenger      Delivered
1        Web Scraping  Not delivered
2    Pandas Deep Dive      Delivered
3      Advanced Regex  Not delivered
4  Matplotlib Seaborn  Not delivered

In [12]:
def week4(student):
    sheet = book[student]
    week = sheet['A13':'B18']

    week_lab = [c1.value for c1, c2 in week]
    week_check = [c2.value for c1, c2 in week]

    df = pd.DataFrame(list(zip(week_lab, week_check)),
                columns =['Week 4 Labs', 'Status'])
    
    return df

In [13]:
week4('gladys')

                    Week 4 Labs         Status
0              Intro Bi Tableau      Delivered
1           Bi Analysis Tableau      Delivered
2       Pivot Table Correlation  Not delivered
3             Descriptive Stats  Not delivered
4  Subsetting Descriptive Stats      Delivered
5           Regression Analysis      Delivered

## mail function

In [14]:
def send_email(student, email):
    sender='gmawarni9@gmail.com'
    password='your pass'

    receiver= email
    
    
    msg = MIMEMultipart()
    msg["From"] = 'Gladys - Data TA'
    msg['Subject'] = "Weekly Lab Summary"
    html = """\
    <html>
    
      <head><p> Weekly Lab Summary  </p></head>
      <body>
        {0}
        {1}
        <br>
      </body>
      
    </html>
    """.format(week3(student).to_html(), week4(student).to_html())

    text = lab_progress(student)

    part1 = MIMEText(html, 'html')
    part2 = MIMEText(text, 'plain')

    msg.attach(part1)
    msg.attach(part2)


    server= smtplib.SMTP('smtp.gmail.com',587)
    server.starttls()
    server.login(sender,password)
    server.sendmail(sender,receiver,msg.as_string())
    
    sleep_time = random.random()*3
    time.sleep(sleep_time)

In [15]:
def send_mail_progress(email, li):
    sender='gmawarni9@gmail.com'
    password= 'your pass'

    receiver= email
    msg = MIMEMultipart()

    msg["From"] = 'Gladys - Data TA'
    msg['Subject'] = "Weekly Lab Progress"

    html = """\
    <html>
  
      <body>
        {0}
        <br>
      </body>
      
    </html>
    """.format(students_progress(li).to_html())

    part1 = MIMEText(html, 'html')

    msg.attach(part1)


    server= smtplib.SMTP('smtp.gmail.com',587)
    server.starttls()
    server.login(sender,password)
    server.sendmail(sender,receiver,msg.as_string())

In [16]:
students = {'anasilva' : 'silva.aps06@gmail.com', 
            'anamatias' : 'ana@ramalhomatias.com', 
            'augusto' : 'eira.augusto.jr@gmail.com', 
            'barbara' : 'bnbmuniz@hotmail.com', 
            'cecilia' : 'cecil.mezzera@gmail.com', 
            'eunice' : 'eltazevedo@gmail.com', 
            'goncalo' : 'gjpcalvinho@gmail.com', 
            'joao' : 'joaompbatista@gmail.com', 
            'miguel' : 'migueltalambas4@gmail.com',
            'gladys' : 'gladysmawarni@gmail.com'}

In [17]:
for name in students:
    print(name, students[name])

anasilva silva.aps06@gmail.com
anamatias ana@ramalhomatias.com
augusto eira.augusto.jr@gmail.com
barbara bnbmuniz@hotmail.com
cecilia cecil.mezzera@gmail.com
eunice eltazevedo@gmail.com
goncalo gjpcalvinho@gmail.com
joao joaompbatista@gmail.com
miguel migueltalambas4@gmail.com
gladys gladysmawarni@gmail.com

In [18]:
test = {'gladys': 'gladysmawarni@gmail.com'}

for name in test:
    send_email(name, test[name])

In [5]:
student_list = book.sheetnames[:-1]
students_progress(student_list)

    Students Lab completed Percentage
0   anasilva         21/43     48.84%
1  anamatias         20/43     46.51%
2    augusto          3/43      6.98%
3    barbara         16/43     37.21%
4    cecilia         23/43     53.49%
5     eunice         20/43     46.51%
6    goncalo         24/43     55.81%
7       joao         19/43     44.19%
8     miguel         13/43     30.23%

In [13]:
send_mail_progress('gladysmawarni@gmail.com', student_list)

In [19]:
# for name in students:
#      send_email(name, students[name])